header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: transparent !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #ddd;
}